
<div class="container-fluid">
    <div class="row center">
        <div class="col col-lg-3">
            <div class="row top-buffer">
                <a class="btn btn-primary btn-block" routerLink="/home/lockedComposites" routerLinkActive="active"> Locked Composites</a>        
            </div>
            <div class="row top-buffer">
                <a class="btn btn-primary btn-block" routerLink="/home/otherQueries" routerLinkActive="active"> Other Queries</a>        
            </div> 
        </div>         
        <div class="col col-lg-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>